<nav class="navbar navbar-fixed-top bg-inverse navigationbar">
    <div class="container">
        <a class="navbar-brand">iBet</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li *ngIf="!isLoggedIn()"class="nav-item"><a class="nav-link" routerLink="register">Register</a></li>
            <li *ngIf="!isLoggedIn()" class="nav-item"><a class="nav-link" routerLink="home">Login</a></li>
            <li *ngIf="isLoggedIn()" class="nav-item"><a class="nav-link" (click) ="authService.logout()" routerLink="login">Log out</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>